.header {
  background-image: url("../../assets/books.jpg");
  background-size: cover;
  height: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.loading_icon_container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100% - 150px);
}

.loading_icon {
  font-size: 30px;
  color: black;
  align-self: center;
}

.book_info {
  padding: 0;
  display: flex;
  min-height: calc(100% - 150px);
}

.book_image_container {
  flex: 1;
  box-sizing: border-box;
  width: 400px;
  display: flex;
  padding: 20px;
  flex-direction: column;
  align-items: center;
  justify-content: start;
}

.book_image_container .container_background {
  background: #f3f2f0;
}

.book_content {
  flex: 1;
  padding: 30px;
  color: black;
  display: flex;
  flex-direction: column;
}

.book_image_container a {
  align-self: start;
  color: grey;
}

.book_image_container a:hover {
  text-decoration: underline;
  color: grey;
}

.book_image_container img {
  width: 50%;
  box-shadow: 7px 7px 7px rgba(0, 0, 0, 0.5);
}

.book_content .authors {
  display: flex;
  gap: 5px;
  margin-bottom: 20px;
}

.book_content .authors div {
  color: grey;
  text-decoration: underline;
  font-size: 20px;
}

.book_content .categories {
  display: flex;
  flex-wrap: wrap;
}

.categories p {
  margin: 0;
}

.book_content .title {
  font-size: 35px;
  font-weight: 700;
  text-align: start;
  margin: 25px 0;
}

.book_content .description {
  margin: 0 10px;
  text-align: justify;
  font-size: 14px;
}

@media (max-width: 767px) {
  .book_info {
    flex-direction: column;
  }

  .book_image_container {
    width: 100%;
  }
}
